body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(148, 170, 173);
  color: rgb(14, 38, 247);
}

input {
  padding: 30px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
}

p {
  margin-top: 30px;
  font-weight: bold;
  color: rgb(243, 13, 71);
}